<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link th:href="@{/css/user_page/users.css}" rel="stylesheet">
</head>
<body>

<div class="main-wrapper">
    <div class="content-block">

        <h3>Пользователи</h3>

        <table class="custom-table">
            <thead>
            <tr>
                <th>ИД</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td><a th:href="@{/admin/users/user(id=${user.id})}" th:text="${user.lastName}"></a></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.middleName}"></td>
                <td th:text="${user.age}"></td>
            </tr>
            </tbody>
        </table>

        <div class="actions-block">
            <button class="my-custom-btn">
                <a href="/admin/users/new">Добавить</a>
            </button>
            <button class="my-custom-btn btn-milky">
                <a href="/">На главную</a>
            </button>
        </div>

    </div>
</div>

</body>
</html>